# Archivos de Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Entorno virtual
psicosocial/
venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/mediafiles/

# Variables de entorno
.env
*.env
.env.local
.env.production

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Otros
*.bak
*.tmp
node_modules/management/ 
